<!DOCTYPE html>
<html class="st-layout ls-bottom-footer show-sidebar sidebar-l2" lang="en">
<!--removed ls-top-navbar to remove the space on top of the page-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BIZLYNX</title>
</head>


  <!-- <router-outlet name="topbar"></router-outlet> 
  <router-outlet name="sidebar"></router-outlet>  -->




<router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="footer">
    <strong>ThemeKit</strong> v4.0.0 &copy; Copyright 2015
  </footer>
  <!-- // Footer -->