    <!-- Load Sidebar as Content -->
    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
    <div class="sidebar left sidebar-size-2 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark"
        id="sidebar-menu" data-type="collapse">
        <div data-scrollable>
            <ul class="sidebar-menu">
                <li><a href="../../../index.html"><i class="icon-paint-brush"></i> <span>Themes</span></a></li>
                <li class="category">Navigation</li>
                <li class="hasSubmenu">
                    <a href="#timeline"><i class="icon-ship-wheel"></i> <span>Timeline</span></a>
                    <ul id="timeline">
                        <li><a href="index.html"><i class="fa fa-circle-o"></i> <span>Blocks</span></a></li>
                        <li><a href="timeline-list.html"><i class="fa fa-circle-o"></i> <span>Listing</span></a></li>
                    </ul>
                </li>
                <li class=" active "><a href="profile.html"><i class="icon-user-1"></i> <span>Profile</span></a></li>
                <li class=""><a href="users.html"><i class="fa fa-group"></i> <span>Users</span></a></li>
                <li class=""><a href="messages.html"><i class="icon-comment-fill-1"></i> <span>Messages</span></a></li>
                <li><a href="login.html"><i class="icon-lock-fill"></i> <span>Login</span></a></li>
                <li class="hasSubmenu">
                    <a href="#components"><i class="icon-paint-brushes"></i> <span>UI Components</span></a>
                    <ul id="components">
                        <li><a href="essential-buttons.html"><i class="fa fa-circle-o"></i> <span>Buttons</span></a>
                        </li>
                        <li><a href="essential-icons.html"><i class="fa fa-circle-o"></i> <span>Icons</span></a></li>
                        <li><a href="essential-progress.html"><i class="fa fa-circle-o"></i> <span>Progress</span></a>
                        </li>
                        <li><a href="essential-grid.html"><i class="fa fa-circle-o"></i> <span>Grid</span></a></li>
                        <li><a href="essential-forms.html"><i class="fa fa-circle-o"></i> <span>Forms</span></a></li>
                        <li><a href="essential-tables.html"><i class="fa fa-circle-o"></i> <span>Tables</span></a></li>
                        <li><a href="essential-tabs.html"><i class="fa fa-circle-o"></i> <span>Tabs</span></a></li>
                    </ul>
                </li>
                <!-- Sample 2 Level Collapse -->
                <li class="hasSubmenu">
                    <a href="#submenu"><i class="fa fa-chevron-circle-down"></i> <span>Collapse</span></a>
                    <ul id="submenu">
                        <li class="hasSubmenu">
                            <a href="#submenu-1"><i class="fa fa-circle-o"></i> Submenu</a>
                            <ul id="submenu-1">
                                <li><a href="#">Regular Link</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Regular Link</a></li>
                    </ul>
                </li>
            </ul>
            <h4 class="category border top">News Feeds</h4>
            <div class="sidebar-block">
                <ul class="sidebar-feed">
                    <li class="media">
                        <div class="media-left">
                            <span class="media-object">
                                <i class="fa fa-fw fa-bell"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                        <div class="media-right">
                            <span class="news-item-success"><i class="fa fa-circle"></i></span>
                        </div>
                    </li>
                    <li class="media">

                        <div class="media-left">
                            <span class="media-object">
                                <i class="fa fa-fw fa-bell"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just added <a href=""
                                class="text-white">mosaicpro</a> as their office
                            <span class="time">2 min ago</span>
                        </div>
                        <div class="media-right">
                            <span class="news-item-success"><i class="fa fa-circle"></i></span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <span class="media-object">
                                <i class="fa fa-fw fa-bell"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <span class="media-object">
                                <i class="fa fa-fw fa-bell"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <span class="media-object">
                                <i class="fa fa-fw fa-bell"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="" class="text-white">Adrian</a> just logged in
                            <span class="time">2 min ago</span>
                        </div>
                    </li>
                </ul>
            </div>
            <h4 class="category">Filter</h4>
            <div class="sidebar-block">
                <ul>
                    <li><a href="#" class="sidebar-link"><span class="fa fa-fw fa-circle-o text-success"></span> Work
                            Related</a></li>
                    <li><a href="#" class="sidebar-link"><span class="fa fa-fw fa-circle-o text-danger"></span> Very
                            Important</a></li>
                    <li><a href="#" class="sidebar-link"><span class="fa fa-fw fa-circle-o text-info"></span> Friends
                            &amp; Family</a></li>
                    <li><a href="#" class="sidebar-link"><span class="fa fa-fw fa-circle-o text-primary"></span>
                            Other</a></li>
                </ul>
            </div>
        </div>
    </div>

    